<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Remiseria</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistroUsuario</display-name>
    <servlet-name>RegistroUsuario</servlet-name>
    <servlet-class>Servlets.RegistroUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroUsuario</servlet-name>
    <url-pattern>/RegistroUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IngresoUsuario</display-name>
    <servlet-name>IngresoUsuario</servlet-name>
    <servlet-class>Servlets.IngresoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IngresoUsuario</servlet-name>
    <url-pattern>/IngresoUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loggin</display-name>
    <servlet-name>Loggin</servlet-name>
    <servlet-class>Servlets.Loggin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loggin</servlet-name>
    <url-pattern>/Loggin</url-pattern>
  </servlet-mapping>
</web-app>